{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    

<div class="list-group">
  {% if songs.count > 0 %}
                    {% for song in songs %}
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2 h5">{{ song.title }}</h5>
     
     <audio controls preload='none' ><source src="{{ song.song.url }}" type="audio/mpeg"></audio>   <small class="text-muted">{{song.created_at}}</small>
    </div>
    
    
    <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
      blandit.</p>
    <small class="text-muted">{{ artist.name }}</small>
  </a>
   {% endfor %}
                {% else %}
                    <h3>No song found with this genre!</h3>
                {% endif %}
  
</div>
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
   
{% endblock %}