{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

  
  {% block content %}

  <div class="card ">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          
          <h4 class="card-title">Checkout form</h4>
        </li>
        <li class="nav-item">
          {# <a class="nav-link" href="#">Pill</a> #}
        </li>
        <li class="nav-item">
          {#<a class="nav-link disabled" href="#">Disabled pill</a>  #}
        </li>
      </ul>
    </div>
    <div class="card-body">
      
      
       <form method="POST"> 
          {% csrf_token %}
          {{ form|crispy }}
          <button href="/process_payment/"class="btn btn-primary" type= 'submit'>
                  Submit 
          </button>
          </form>

    </div>
  </div>
  
       
  

  


    </div>
  </div>
{% endblock %}
  
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
